@model GestionDeFinanzasPersonales.Models.Database.Presupuesto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del presupuesto</h2>

<div>
    <h4>Nombre: @Html.DisplayFor(model => model.CategoriaPresupuesto.Nombre)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>



    </dl>

    <div>
        <h4>Movimientos Relacionados</h4>
        <table class="table">
            <tr>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>

            @foreach (var movimiento in ViewBag.Movimientos)
            {
                <tr>
                    <td>@movimiento.Tipo.NombreTipo</td>
                    <td>@movimiento.Monto.ToString()</td>
                    <td>@movimiento.FechaOperacion.ToString("dd/MM/yyyy")</td>

                </tr>
            }
        </table>

        @if (ViewBag.Movimientos.Count == 0)
        {
            <div class="alert alert-info">
                No hay movimientos registrados para este presupuesto.
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPresupuesto }) |
    @Html.ActionLink("Regresar", "Presupuesto")
</p>
