@model GestionDeFinanzasPersonales.Models.Database.MetaFinanciera



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Meta Financiera</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdMeta)

    <h4>Agregar monto a la meta</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoObjetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoObjetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoAcumulado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoAcumulado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaObjetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaObjetivo)
        </dd>
    </dl>


    <div class="form-group">
        <label class="control-label col-md-2">Monto a agregar</label>
        <div class="col-md-10">
            <input type="number" name="montoAAgregar" class="form-control"
                   step="0.01" min="0.01" placeholder="Ingrese el monto a sumar" required />
            @Html.ValidationMessage("montoAAgregar", "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Meta")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}